.color-generator {
  margin: 40px auto 0;
  padding: 30px 40px;
  max-width: fit-content;
  border-radius: 5px;

  & .buttons {
    display: flex;
    gap: 20px;
  }

  & .content {
    margin-top: 60px;
    text-align: center;
  }

  & .color {
    font-weight: bold;
  }
}
